.bannar-area__contact {
    background: #f2fcff;
    border-top: 4px solid #000E28;
    border-bottom: 4px solid #000E28;
    margin-top: -4px;

    .hero-left-area {
        h1 {
            font-weight: 500;
            font-size: 65px;
            line-height: 91px;
            color: #000E28;
        }
    }

    .hero-right-area {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .star-img {
            position: absolute;
            top: -39px;
            right: 24%;
        }
    }
}

@media screen and (min-width:575px) and (max-width:767px) {
    .bannar-area__contact .stretch-rope {

        svg {
            width: 260px;
        }
    }

    .bannar-area__contact .arrow-img svg {
        width: 100px;
    }

    .arrow-img {
        position: absolute;
        top: -49px;
        left: 56%;
    }

    .star-img {
        position: absolute;
        top: -70px;
        right: 24%;
    }

    .bannar-area__contact .hero-right-area .star-img {
        position: absolute;
        top: -70px;
        right: 24%;
    }
}

@media screen and (min-width:576px) and (max-width:991px) {
    .bannar-area__contact .hero-left-area h1 {
        font-size: 45px;
        line-height: 60px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .bannar-area__contact .hero-left-area h1 {
        font-size: 33px;
        line-height: 44px;
    }
}

@media screen and (min-width:992px) and (max-width:1200px) {
    .bannar-area__contact .hero-left-area h1 {
        font-size: 46px;
        line-height: 65px;
    }
}

@media screen and (max-width:575px) {
    .bannar-area__contact .hero-left-area h1 {
        font-size: 33px;
        line-height: 46px;
    }

    .bannar-area__contact .stretch-rope {

        svg {
            width: 220px;
        }
    }

    .bannar-area__contact .arrow-img svg {
        width: 70px;
    }

    .bannar-area__contact {
        position: relative;
        padding-bottom: 120px;
    }

    .bannar-area__contact .arrow-img {
        position: absolute;
        top: -23px;
        right: 90px;
    }

    .bannar-area__contact .hero-right-area .star-img {
        position: absolute;
        top: -222px;
        right: 4%;
    }

    .bannar-area__contact .hero-left-area h1 {
        font-size: 32px;
        line-height: 50px;
    }

    .bannar-area__contact .arrow-img {
        position: absolute;
        top: 7px;
        right: 0px;

        img {
            width: 80px;
        }
    }
}

@media screen and (min-width:576px) and (max-width:768px) {
    .bannar-area__contact .hero-right-area {
           .arrow-img{
            top: -40px;
           }
        }
}

@media screen and (min-width:380px) and (max-width:480px) {
  
        .bannar-area__contact .hero-right-area .star-img {
            position: absolute;
            top: -168px;
            right: -5%;
        }
    
}