.contact-area {
    background: $coral1;

    .card-style-one-wrapper,
    .card-style-two-wrapper {
        border-left: 3px solid $black;
        border-top: 3px solid $black;
        border-bottom: 3px solid $black;
    }

    .bordered-card {
        border-right: 3px solid $black;
        padding: 16px 20px;
        min-height: 710px;
        position: relative;

        .card-img-top {
            img {
                min-height: 300px;
            }
        }

        .contact-card-body {
            .contact-card-title {
                h4 {
                    font-weight: 500;
                    font-size: 28px;
                    color: $black;
                }
            }

            .contact-card-body-desc {
                p {
                    font-size: 18px;
                    line-height: 32px;
                    color: $gray;
                }
            }

            .contact-card-list {
                position: absolute;
                left: 18px;
                width: 100%;
                bottom: 30px;

                ul {
                    li {
                        a {
                            text-decoration: none;
                            color: $black;
                            display: inline-block;
                        }

                        &:nth-child(2) {
                            a {
                                color: $textcolor ;
                                font-size: 16px;
                                display: inline-block;
                                margin-left: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .contact-area .bordered-card {
        min-height: 677px;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .contact-area .bordered-card {
        min-height: 677px;
    }
}
@media screen and (min-width:768px) and (max-width:1004px) {
    .contact-area .bordered-card {
        min-height: 650px;
    }
}