.we-assist {
    .contact-form-area {
        form {
            padding-left: 40px;

            input {
                width: 100%;
                border: none;
                border-bottom: 2px solid #000E28;
                padding-top: 30px;
                padding-bottom: 10px;

                &::placeholder {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 27px;
                    color: #979797;
                    text-transform: capitalize;
                    font-weight: 400;
                }
            }

            textarea {
                width: 100%;
                border: none;
                border-bottom: 2px solid #000E28;
                padding-top: 50px;

                &::placeholder {
                    text-transform: capitalize;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 27px;
                    color: #979797;
                }
            }

            button {
                font-weight: 400;
                font-size: 18px;
                line-height: 27px;
                color: #000000;
                padding: 20px 58px;
                text-transform: capitalize;
                background: transparent;
                border-radius: 10px;
                border: 1px solid #000E28;
                box-shadow: 2px 2px 0px 1px #000E28;

                &:hover {
                    background: #000000;
                    color: #ffff;
                }
            }
        }



    }

    // contact form content area
    .contact-right-area {
        .contact-heading {
            h2 {
                font-weight: 500;
                font-size: 65px;
                line-height: 75px;
                color: #000000;
                text-transform: capitalize;
            }

            position: relative;

            .arrow-img {
                position: absolute;
                right: 137px;
                top: 250px;
            }
        }

        .contact-card {
            .card-item {
                border-radius: 16px;
                padding: 30px;

                &.card-one {
                    background: #f4e7fe;
                }

                &.card-two {
                    background: rgba(0, 204, 255, 0.1);
                }

                .icon {
                    margin-right: 20px;
                }

                .card-content {
                    .card-title {
                        padding-right: 50px;

                        h3 {
                            font-weight: 500;
                            font-size: 28px;
                            line-height: 33px;
                            color: #000000;
                            text-transform: capitalize;
                        }
                    }

                    .card-desc {

                        p {
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 32px;
                            color: #888888;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width:575px) {
    .we-assist .contact-form-area form {
        padding-left: 0px;
    }

    .we-assist .contact-right-area .contact-heading h2 {

        font-size: 26px;
        line-height: 36px;
   
    }
}

