.we-assist {
    .contact-form-area {
        form {
            padding-left: 40px;

            input {
                width: 100%;
                border: none;
                border-bottom: 2px solid #000E28;
                padding-top: 30px;
                padding-bottom: 10px;

                &::placeholder {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 27px;
                    color: #979797;
                    text-transform: capitalize;
                    font-weight: 400;
                }
            }

            textarea {
                width: 100%;
                border: none;
                border-bottom: 2px solid #000E28;
                padding-top: 50px;
                height: 148px;

                &::placeholder {
                    text-transform: capitalize;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 27px;
                    color: #979797;
                }
            }

            input[type=submit] {
                font-weight: 400;
                font-size: 18px;
                line-height: 27px;
                color: #000000;
                padding: 20px 58px;
                text-transform: capitalize;
                background: transparent;
                border-radius: 10px;
                border: 1px solid #000E28;
                box-shadow: 7px 7px 0px 0px #000E28,
                    7px 7px 0px 0px #000E28;
                width: fit-content;

                &:hover {
                    background: #000000;
                    color: #ffff;
                }
            }
        }



    }

    // contact form content area
    .contact-right-area {
        .contact-heading {
            h2 {
                font-weight: 500;
                font-size: 65px;
                line-height: 75px;
                color: #000000;
                text-transform: capitalize;
            }

            position: relative;

            .arrow-img {
                position: absolute;
                right: 137px;
                top: 250px;
            }
        }

        .contact-card {
            .card-item {
                border-radius: 16px;
                padding: 30px;

                &.card-one {
                    background: #f4e7fe;
                }

                &.card-two {
                    background: rgba(0, 204, 255, 0.1);
                }

                .icon {
                    margin-right: 20px;
                }

                .card-content {
                    .card-title {
                        padding-right: 50px;

                        h3 {
                            font-weight: 500;
                            font-size: 28px;
                            line-height: 33px;
                            color: #000000;
                            text-transform: capitalize;
                        }
                    }

                    .card-desc {

                        p {
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 32px;
                            color: #888888;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width:575px) {
    .we-assist .contact-form-area form {
        padding-left: 0px;
    }

    .we-assist .contact-right-area .contact-heading h2 {

        font-size: 26px;
        line-height: 36px;

    }

    .we-assist .contact-right-area .contact-card .card-item .card-content .card-title {
        padding-right: 0px;
        margin-top: 20px;
    }

    .we-assist .contact-right-area .contact-heading .arrow-img {
        display: none;
    }

    .we-assist .contact-right-area .contact-card .card-item .card-content .card-desc {
        margin-top: 20px;
    }

    .we-assist .contact-right-area .contact-card .card-item .card-content .card-desc p {
        font-size: 16px;
        line-height: 28px;

    }

    .we-assists-img-area img {
        max-width: 100% !important;
    }

    .we-assist.pt-50.pb-100.pt-xs-40.pb-xs-50.pt-sm-50.pb-sm-50.pt-lg-50.pb-lg-50 {
        margin-top: -50px;
    }

}

@media screen and (min-width:575px) and (max-width:767px) {
    .we-assist .contact-form-area form {
        padding-left: 0px;
    }

    .we-assist .contact-right-area .contact-heading h2 {
        font-size: 42px;
        line-height: 58px;
    }

    .we-assist .contact-right-area .contact-heading .arrow-img {

        top: 107px;
        left: 59%;

        img {
            width: 90px;
        }
    }

    .we-assist .contact-right-area .contact-card .card-item .card-content .card-desc p {
        font-size: 16px;
        line-height: 28px;
    }

    .we-assist .contact-right-area .contact-card .card-item .card-content .card-desc {
        margin-top: 10px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .we-assist .contact-form-area form {
        padding-left: 0px;
    }

    .we-assist .contact-right-area .contact-heading {
        padding-right: 200px;
    }

    .we-assist .contact-right-area .contact-heading h2 {
        font-size: 42px;
        line-height: 58px;
    }

    .we-assist .contact-right-area .contact-heading .arrow-img {
        right: 124px;
        top: 66px;
    }

    .we-assist .contact-right-area .contact-card .card-item .card-content .card-desc {
        margin-top: 10px;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .we-assist .contact-form-area form {
        padding-left: 0px;
    }

    .we-assist .contact-right-area .contact-heading h2 {
        font-size: 34px;
        line-height: 46px;
    }

    .we-assist .contact-right-area .contact-card .card-item .card-content .card-title {
        margin-bottom: 20px;
    }

    .we-assist .contact-right-area .contact-card .card-item .card-content .card-title h3 {
        font-size: 24px;
        line-height: 34px;
    }

    .we-assist .contact-right-area .contact-heading .arrow-img {
        display: none;
    }

    .we-assist .contact-right-area .contact-card .card-item .card-content .card-desc p {
        font-size: 16px;
        line-height: 28px;
    }

    .we-assist .contact-right-area .contact-card .card-item .card-content .card-title {
        padding-right: 0px;
    }
}

@media screen and (min-width:1200px) and (max-width:1399px) {
    .we-assist .contact-right-area .contact-heading .arrow-img {
        right: 49px;
        top: 250px;
    }

    .we-assist .contact-right-area .contact-card .card-item .card-content .card-title {
        margin-bottom: 15px;
    }
}

@media screen and (min-width:370px) and (max-width:420px) {
    .bannar-area__contact .hero-right-area .star-img {
        position: absolute;
        top: -172px;
        right: -7%;
    }
}

@media screen and (max-width:480px) {
    .we-assist .contact-right-area .contact-card .card-item .icon {
        margin-right: 10px;
    }

    .we-assist .contact-right-area .contact-card .card-item .card-content .card-title h3 {
        font-size: 22px;
        line-height: 35px;
    }
}