.integration-area {
    background: $integration-area;

    .section-title {
        h2 {
            font-size: 56px;
        }
    }

    .image-area {
        position: relative;

        .position-img {
            position: absolute;

            &.globe {
                bottom: 50px;
                left: -182px;

                .star {
                    position: absolute;
                    top: 70px;
                    left: 13px;
                }
            }

            &.arrow {
                bottom: 212px;
                left: -10px;
            }

            &.star {
                top: 0px;
                right: 0px;
            }

        }
    }
}

@media screen and (max-width:575px) {
    .integration-area .section-title h2 {
        font-size: 21px;
        line-height: 32px;
    }

    .integration-area .image-area .position-img.arrow {
        display: none;
    }

    .integration-area .image-area .position-img.globe {
        display: none;
    }

    .integration-area {
        .line-img {
            img {
                width: 200px;
            }
        }
    }

    .integration-area .image-area .position-img.star {
        right: -23px;
        top: -61px;

        img {
            width: 70px;
        }
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .integration-area .section-title h2 {
        font-size: 32px;
        line-height: 42px;
    }

    .integration-area .image-area .position-img.arrow {
        display: none;
    }

    .integration-area .image-area .position-img.globe {
        display: none;
    }



}

@media screen and (min-width:768px) and (max-width:991px) {
    .integration-area .section-title h2 {
        font-size: 42px;
        line-height: 52px;
    }

    .integration-area .image-area .position-img.arrow {
        display: none;
    }

    .integration-area .image-area .position-img.globe {
        display: none;
    }

    .integration-area .image-area .position-img.star {
        right: -5px;
        top: 11px;
    }
}

.line-img.mt-xs-20 {
    display: none;
}