.integration-area {
    background: $integration-area;

    .section-title {
        h2 {
            font-size: 56px;
        }
    }

    .image-area {
        position: relative;

        .position-img {
            position: absolute;

            &.globe {
                bottom: 4px;
                left: -118px;
            }

            &.arrow {
                bottom: 195px;
                left: -20px;
            }

            &.star {
                right: -54px;
                top: 54px;
            }
        }
    }
}