.machine-area {
    position: relative;
    border: 4px solid #000E28;
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: #00CCFF;
        content: "";
    }

    .machine-left-area {
        .machine-heading {
            h2 {
                font-weight: 500;
                font-size: 52px;
                line-height: 64px;
                color: #000e28;
            }
        }

        .machine-desc {
            margin-top: 10px;

            p {
                font-size: 18px;
                line-height: 32px;
                color: #2B3240;
            }
        }
    }
}