.machine-area {
    position: relative;
    border: 4px solid #000E28;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: #00CCFF;
        content: "";
    }

    .machine-left-area {
        .machine-heading {
            h2 {
                font-weight: 500;
                font-size: 52px;
                line-height: 64px;
                color: #000e28;
            }
        }

        .machine-desc {
            margin-top: 10px;

            p {
                font-size: 18px;
                line-height: 32px;
                color: #2B3240;
            }
        }
    }
}

@media screen and (max-width:768px) {
    .machine-area::before {
        width: 100%;
    }

    .machine-area .machine-left-area .machine-heading h2 {

        font-size: 24px;
        line-height: 34px;

    }

    .machine-area .machine-left-area .machine-desc p {
        font-size: 16px;
        line-height: 29px;
    }

    .content-review .content-card .content-desc p {
        font-size: 16px;
        line-height: 26px;

    }

    .content-review .content-review-right .content-review-title {
        margin-top: 34px;
    }

    .content-review-cards .content-card-one .content-desc p {
        font-size: 16px;
        line-height: 26px;
    }

    .content-review .content-review-right .content-review-desc p {
        font-size: 16px;
        line-height: 26px;
    }
}





@media screen and (min-width:992px) and (max-width:1199px) {
    .machine-area .machine-left-area .machine-heading h2 {

        font-size: 26px;
        line-height: 36px;

    }

    .machine-area .machine-left-area .machine-desc p {
        font-size: 16px;
        line-height: 27px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .content-review .content-review-right .content-review-title h2 {
        font-size: 30px !important;
        line-height: 50px !important;
        margin-top: 57px !important;
    }
        .machine-area::before {
       
            width: 100%;
            height: 51%;
       
        }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .content-review .content-review-right .content-review-title h2 {
        font-size: 30px !important;
        line-height: 40px !important;
        margin-top: 55px !important;
    }

    .machine-area::before {

        height: 45%;

    }
}

@media screen and (min-width:401px) and (max-width:575px) {
    .machine-area::before {
        height: 60%;
    }
}

@media screen and (min-width:361px) and (max-width:400px) {
    .machine-area::before {
        height: 70%;
    }
}

@media screen and (min-width:320px) and (max-width:360px) {
    .machine-area::before {

        height: 68%;

    }
}