.machine-area {
    background: $primary_1;
    border-top: 4px solid #000e28;
    border-bottom: 4px solid #000e28;

    .machine-left-area {
        position: relative;

        .machine-title {
            h2 {
                font-weight: 500;
                font-size: 54px;

            }
        }

        .machine-desc {
            p {
                color: #2B3240 !important;
            }
        }

        .machine-arrow {
            position: absolute;
            top: 125px;
            left: -93px;
        }
    }
}

@media screen and (max-width:575px) {
    .machine-area .machine-left-area .machine-title h2 {
        font-size: 29px;
        line-height: 39px;
    }

    .machine-area .machine-left-area .machine-arrow {
        display: none;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .machine-area .machine-left-area .machine-title h2 {
        font-weight: 500;
        font-size: 34px;
    }

    .machine-area .machine-left-area .machine-arrow {
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .machine-area .machine-left-area .machine-title h2 {
        font-size: 44px;
        line-height: 54px;
    }

    .machine-area .machine-left-area .machine-arrow {
        display: none;
    }

    .machine-area .machine-left-area .machine-title h2 {
        font-size: 39px;
        line-height: 50px;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .machine-area .machine-left-area .machine-arrow {
      
            top: 60px;
            left: -16px;
        }
}