.our-solutions.our-solution-style-1 {
    .our-solutions-heading {
        h2 {
            font-weight: 500;
            font-size: 52px;
            line-height: 62px;
        }
    }

    .card-style-1 {
        .card-style-left {
            .card-title {
                h3 {
                    font-weight: 500;
                    font-size: 40px;
                    line-height: 50px;
                    color: #000E28;
                }
            }
        }

        .card-desc {
            p {
                font-size: 18px;
                line-height: 32px;
                margin-left: 10px;
                color: #727272;
            }
        }

        .translation-memory {
            .three-star {
                position: absolute;
                bottom: 2px;
                left: 23px;
            }
        }

        .glossary-management {
            position: relative;

            .globe-img {
                position: absolute;
                bottom: -42px;
                left: 10px;

                .globe-1 {
                    width: 180px;
                }

                .star-img {
                    position: absolute;
                    top: 88px;
                    left: 12px;
                }
            }
        }

        // cat tools start
        .cat-tools-img {
            position: relative;

            .cat-tools-globe {

                position: absolute;
                bottom: 0px;
                left: 105px;

                .globe-img {
                    img {
                        width: 150px;
                    }

                    .black-star {
                        position: absolute;
                        bottom: 0px;
                        left: 30px;
                        img{
                            width: 50px;
                        }
                    }
                }
            }
        }
    }
}