.technology-bannar-style-1 {
    background: #F2FCFF !important;
    border-bottom: 4px solid #000E28;



    .bannar-area.bannar-area__technology .hero-contents {
        margin-left: 48px;
        border-left: 8px solid #000E28;
    }

    .hero-right-area {
        position: relative;

        .arrow-img {
            position: absolute;
            top: 0px;
            right: 100px;
        }
    }
}

.bannar-area.bannar-area__technology .hero-left-area {
    h1 {
        font-weight: 500;
        font-size: 65px;
        line-height: 91px;
        color: #000E28;
    }

    .stretch-rope {
        top: 98px;
        left: 11%;
    }
}

@media all and (min-width:320px) and (max-width:575px) {
    .bannar-area.bannar-area__technology.technology-bannar-style-1 {
        .hero-contents p {
            font-size: 16px;
            line-height: 26px;
        }

        .hero-left-area {
            h1 {
                font-size: 46px;
                line-height: 56px;
                text-align: center;
            }


            .stretch-rope {
                position: absolute;
                top: 40px;
                left: 50%;
                transform: translateX(-50%);
            }


        }

        .hero-right-area {
            .arrow-img {
                display: none;
            }

            .star-img {
                display: none;
            }
        }
    }
}

@media all and (min-width:576px) and (max-width:767px) {
    .bannar-area.bannar-area__technology.technology-bannar-style-1 {
        .hero-left-area {
            h1 {
                font-size: 46px;
                line-height: 56px;
                text-align: center;
            }

            .stretch-rope {
                top: 70px;
                left: 50%;
                transform: translateX(-50%);
            }

        }

        .hero-right-area {
            .arrow-img {
                display: none;
            }

            .star-img {
                display: none;
            }
        }
    }
}

@media all and (min-width:768px) and (max-width:991px) {
    .bannar-area.bannar-area__technology.technology-bannar-style-1 {
        .hero-left-area {

            .stretch-rope {
                top: 100px;
                left: 50%;
                transform: translateX(-50%);
            }

        }

        .hero-right-area {
            .arrow-img {
                top: -74px;
                right: 7px;
            }

            .star-img {
                display: none;
            }
        }
    }
}

@media screen and (min-width:575px) and (max-width:767px) {
    .bannar-area__technology .hero-contents p {
        font-size: 16px;
        line-height: 30px;
    }


}

@media screen and (min-width:768px) and (max-width:991px) {
    .bannar-area.bannar-area__technology.technology-bannar-style-1 .hero-left-area .stretch-rope {
        left: 30%;
        transform: translateX(-50%);
    }

    .bannar-area.bannar-area__technology.technology-bannar-style-1 .hero-right-area .arrow-img {
        top: -91px;
        right: 52px;
    }
}

@media screen and (min-width:992px) and (max-width:1200px) {
    .technology-bannar-style-1 .hero-right-area .arrow-img {
        top: 22px;
        right: 49px;
    }

    .bannar-area.bannar-area__technology.technology-bannar-style-1 {
        .hero-left-area {
            h1 {

                text-align: center;
            }
        }
    }

    .bannar-area__technology .hero-contents {
        padding: 0px 98px 0px 0px;
        margin-top: 15px;
    }
}