.technology-bannar-style-1 {
    background: #F2FCFF !important;
    border-bottom: 4px solid #000E28;



    .bannar-area.bannar-area__technology .hero-contents {
        margin-left: 48px;
        border-left: 8px solid #000E28;
    }

    .hero-right-area {
        position: relative;

        .arrow-img {
            position: absolute;
            top: 0px;
            right: 100px;
        }
    }
}

.bannar-area.bannar-area__technology .hero-left-area {
    h1 {
        font-weight: 500;
        font-size: 65px;
        line-height: 91px;
        color: #000E28;
    }

    .stretch-rope {
        top: 98px;
        left: 11%;
        display: none !important;
    }
}


.bannar-area.bannar-area__technology .hero-right-area {
    position: relative;

    .star-img {
        position: absolute;

    }
}

@media screen and (min-width:1200px) {
    .bannar-area.bannar-area__technology .hero-right-area .star-img {
        position: absolute;
        top: -40px;
        right: 105px;
    }
}

@media screen and (min-width:992px) and (max-width:1200px) {
    .technology-bannar-style-1 .hero-right-area .arrow-img {
        top: 22px;
        right: 49px;
    }

    .bannar-area.bannar-area__technology.technology-bannar-style-1 {
        .hero-left-area {
            h1 {

                text-align: center;
            }
        }
    }

    .bannar-area__technology .hero-contents {
        padding: 0px 98px 0px 0px;
        margin-top: 15px;
    }

    .bannar-area.bannar-area__technology .hero-right-area .star-img {
        top: -23px;
        right: 33px;
    }

    .technology-bannar-style-1 .hero-right-area .arrow-img {

        img {
            width: 90px;
        }
    }
}


@media screen and (min-width:768px) and (max-width:991px) {
    .bannar-area__technology .hero-contents {
        padding-left: 0px;
        // margin-top: -50px;
    }

    .bannar-area.bannar-area__technology .hero-right-area {
        position: relative;

        .star-img {
            position: absolute;
            top: -100px;
            right: 0%;
        }
    }

    .technology-bannar-style-1 .hero-right-area .arrow-img {
        top: -62px;
        right: 30px;

        img {
            width: 70px;
        }
    }
}


@media screen and (min-width:576px) and (max-width:767px) {
    .bannar-area__technology .hero-contents p {
        font-size: 16px;
        line-height: 30px;
    }

    .bannar-area.bannar-area__technology .hero-left-area h1 {
        font-size: 44px;
        line-height: 54px;

    }

    .bannar-area.bannar-area__technology .hero-left-area .stretch-rope {
        top: 65px;
        left: 3%;
    }

    .bannar-area.bannar-area__technology .hero-right-area {
        position: relative;

        .star-img {
            position: absolute;
            top: -70px;
            right: 0%;
        }
    }

    .technology-bannar-style-1 .hero-right-area .arrow-img {
        position: absolute;
        top: -55px;
        left: 85%;

        img {
            width: 80px;
        }
    }

    .bannar-area.bannar-area__technology .hero-right-area .star-img {

        img {
            width: 30px;
        }
    }
}

@media all and (max-width:575px) {
    .bannar-area.bannar-area__technology.technology-bannar-style-1 {
        .hero-contents p {
            font-size: 16px;
            line-height: 26px;
        }

        .hero-left-area {
            h1 {
                font-size: 34px;
                line-height: 46px;
                text-align: left;
            }


            .stretch-rope {
                position: absolute;
                top: 17px;
                left: 40%;
                transform: translateX(-50%);
            }



            .hero-right-area {
                .star-img {
                    margin-top: -100px;
                }

            }
        }
    }

    .bannar-area__technology .hero-contents {
        padding-left: 10px;
        position: relative;
        margin-top: 60px;
    }

    .technology-bannar-style-1 .hero-right-area .arrow-img {
        position: absolute;
        top: -15px;
        right: 0px;

        img {
            width: 50px;
        }

    }

    .bannar-area.bannar-area__technology .hero-right-area .star-img {
        top: -100px;

        img {
            width: 25px;
        }
    }

}

@media screen and (max-width:360px) {
    .bannar-area.bannar-area__technology .hero-right-area .star-img {
        top: -98px;

        img {
            width: 20px;
        }
    }

    .our-solutions.our-solution-style-1 .card-style-1 .translation-memory .three-star {

        img {
            width: 140px;
        }
    }




}