.btn {  
    color: $black;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    font-family: $pop;
    border-radius: 10px;
    transition: all .3s ease;
    padding: 18.5px 56.12px; 
    background-color: #FDFCF8; 
    box-shadow: 3px 4px 0 $dark_black;
    border: 2px solid $dark_black !important;

    &:hover, &:focus {
        box-shadow: none;
        color: $white !important;
        background-color: $dark_black !important;
    }
}