.theme-btn{
    border: none;
    background:transparent;
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 27px;
    padding: 18px 60px;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
}
.theme-shadow-btn{
    color: #000000;
    box-shadow: 2px 1px 4px 5px #000e2817,
    0px 2px 0px 1px #000e2851;
    &:hover{
        background: #000000;
        color: #fff;
    }
}