/** footer-area  **/
.footer-area {
    background-color: $dark_black;

    &__widget {
        margin-bottom: 40px;

        &.widget_nav_menu {

            ul {
                gap: 10px;
                display: flex;
                flex-direction: column;

                li {

                    a {
                        font-size: 16px;
                        color: $dark_white;
                        font-family: $pop;
                        line-height: 24px;
                        position: relative;
                        display: inline-block;
                        text-decoration: none;

                        &:before {
                            left: 0;
                            right: 0;
                            bottom: 0;
                            width: 100%;
                            height: 3px;
                            content: '';
                            position: absolute;
                            transform: scaleX(0);
                            transition: all .3s ease;
                            background-color: $dark_white;
                        }

                        &:hover,
                        &:focus {

                            &:before {
                                transform: scaleX(1);
                            }
                        }
                    }
                }
            }
        }

        &-info {

            .description {

                p {
                    color: $dark_white;
                }
            }

            .form {

                &-group {
                    position: relative;

                    input {
                        width: 100%;
                        height: 50px;
                        padding-left: 10px;
                        border-radius: 10px;
                        border: none;
                        outline: none;

                        &::placeholder {
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 27px;
                            color: #cccccc;
                            text-transform: capitalize;
                        }
                    }

                    button {
                        position: absolute;
                        right: 0px;
                        top: 0px;
                        background: #8E0BF4;
                        color: #fff;
                        height: 50px;
                        padding: 0px 30px;
                        font-size: 18px;
                        border-top-left-radius: 0px;
                        border-bottom-left-radius: 0px;

                        &:hover {
                            background: #8E0BF4;
                            opacity: 0.6;
                        }
                    }

                }
            }
        }
    }

    // socila profile

    .social-profile {
        ul {
            display: flex;

            li {
                a {
                    height: 44px;
                    width: 44px;
                    border-radius: 50%;
                    color: #fff;
                    border: 1px solid #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    margin-right: 40px;
                    &:hover{
                        background: #fff;
                        color: #8E0BF4;
                    }
                }
            }
        }
    }

}
.line{
    width: 100%;
    height: 1px;
    background:rgba(128, 128, 128, 0.116)
}

@media screen and (max-width:575px) {
    .footer-area__widget{
        .title{
            margin-bottom: 20px;
        }
    }
}