.section-top{
    .section-title{
        h2{
            font-weight: 600;
            font-size: 52px;
            line-height: 78px;
            color: #000000;
        }
    }
    .section-subtitle{
        p{
            font-weight: 400;
            font-size: 18px;
            line-height: 32px;
            color: #6d6d6d;
        }
    }
}