.nav-tabs-area {
    .nav-tabs {
        border-bottom: none;
    }

    li {
        button.nav-link {
            display: block;
            font-weight: 400;
            font-size: 32px;
            line-height: 46px;
            text-transform: capitalize;
            text-decoration: none;
            color: #000000a5;
            background: #dcb4f7;
            padding: 30px 50px;
            margin: 0px 15px;
            border-radius: 10px;
            border: 2px solid #000e28d7;
        }
    }

    // tab contents area
    .tab-content-area {
        .tab-content-single {

            // position image
            position: relative;

            .globe-1 {
                position: absolute;
                top: 60%;
                left: 0%;
            }

            .globe-2{
                position: absolute;
                bottom: 0%;
                right:10%;
            }
            .arrow{
                position: absolute;
                top: 5%;
                right: 0%;
            }
            .star{
                position: absolute;
                top: 0%;
                right: 5%;
            }
            .tab-content-title {
                padding: 0px 200px;
                text-transform: capitalize;
                h2 {
                    font-weight: 500;
                    font-size: 65px;
                    line-height: 91px;
                }
            }

            .tab-content-desc {
                padding: 0px 200px;
            }
        }
    }

}