.insdustries-verticle-tabs-area {
    background: #f2fcff;
    border-radius: 20px;

    .tabs-area {
        border: 4px solid #000E28;
        border-radius: 20px;
        background: #fff;

        .tab-btn-area {
            background: #8E0BF4;
            padding: 48px 30px;
            padding-left: 75px;
            border-radius: 15px;
            position: relative;

            &::before {
                position: absolute;
                content: "";
                height: 85%;
                left: 25px;
                top: 30px;
                width: 18px;
                background: #FFFFFFed;
                border-radius: 10px;
            }

            .nav-link {
                text-align: left;
                font-weight: 400;
                font-size: 32px;
                line-height: 46px;
                text-transform: capitalize;
                color: rgba(0, 0, 0, 0.7);
                border: 2px solid #000E28;
                margin-bottom: 30px;
                background: #dcb4f7;
                padding-left: 40px;

                &.active {
                    background: #fdfcf8;
                    box-shadow: 7px 0px 0px 0px #000E28,
                        7px 7px 0px 0px #000E28;
                    position: relative;
                    color: #8E0BF4;

                    &::before {
                        position: absolute;
                        content: "";
                        top: 0px;
                        left: -47px;
                        height: 130px;
                        width: 9px;
                        background: #B1EEFA;
                        border-radius: 10px;
                    }
                }

                &:last-child {
                    &.active {


                        &::before {

                            top: -65px;


                        }
                    }
                }
            }
        }
    }

    .verticle-tab-content {
        padding-left: 40px;
        padding-right: 25px;

        .tab-content-list {
            ul {
                li {

                    padding-left: 35px;
                    position: relative;

                    &::before {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        font-family: 'Font Awesome 6 Free';
                        content: '\f061';
                        font-weight: 700;
                        color: #8E0BF4;
                    }
                }
            }
        }
    }
}


@media screen and (max-width:575px) {
    .insdustries-verticle-tabs-area .tabs-area .tab-btn-area .nav-link {
        font-size: 18px;
        line-height: 19px;
        margin-bottom: 19px;

        &:last-child {
            &.active {


                &::before {

                    top: -50px;


                }
            }
        }
    }

    .insdustries-verticle-tabs-area .tabs-area .tab-btn-area .nav-link.active::before {

        height: 80px;

    }

    .insdustries-verticle-tabs-area .tabs-area .tab-btn-area .nav-link:last-child.active::before {
        top: -59px;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    .insdustries-verticle-tabs-area .tabs-area .tab-btn-area .nav-link:last-child.active::before {
        top: -73px;
    }

    .insdustries-verticle-tabs-area .tabs-area .tab-btn-area .nav-link {

        font-size: 16px;
        line-height: 22px;
        margin-bottom: 23px;

    }

    .insdustries-verticle-tabs-area .verticle-tab-content {
        padding: 0px 0px;
    }

    .insdustries-verticle-tabs-area .verticle-tab-content p {
        font-size: 14px;
    }
}