.insdustries-verticle-tabs-area {
    background: #f2fcff;
    border-radius: 20px;

    #v-pills-tab {
        margin-top: 20px;
    }

    .tabs-area {
        border: 4px solid #000E28;
        border-radius: 20px;
        background: #fff;
        padding-bottom: 10px;
        position: relative;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            height: 100%;
            width: 40%;
            background: #8E0BF4;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }

        .tab-btn-area {
            // background: #8E0BF4;
            padding: 48px 30px;
            // padding-left: 75px;
            padding-left: 40px;
            border-radius: 15px;
            position: relative;
            max-height: 550px;
            overflow-y: auto;
            scrollbar-width: thin;

            // scrollbar-color: #00ccff #000;
            &::before {
                position: absolute;
                content: "";
                height: 85%;
                left: 25px;
                top: 30px;
                width: 18px;
                background: #FFFFFFed;
                border-radius: 10px;
                display: none;
            }

            .nav-link {
                text-align: left;
                font-weight: 400;
                font-size: 32px;
                line-height: 46px;
                text-transform: capitalize;
                color: rgba(0, 0, 0, 0.7);
                border: 2px solid #000E28;
                margin-bottom: 30px;
                background: #dcb4f7;
                padding-left: 40px;

                &.active {
                    background: #fdfcf8;
                    box-shadow: 7px 0px 0px 0px #000E28,
                        7px 7px 0px 0px #000E28;
                    position: relative;
                    color: #8E0BF4;

                    &::before {
                        position: absolute;
                        content: "";
                        top: 0px;
                        left: -47px;
                        height: 130px;
                        width: 9px;
                        background: #B1EEFA;
                        border-radius: 10px;
                        display: none;
                    }
                }


            }
        }
    }

    .verticle-tab-content {
        padding-left: 40px;
        padding-right: 25px;
        padding-top: 30px;
        max-height: 450px;
        overflow-y: auto;
        scrollbar-width: thin;

        ul {
            li {

                padding-left: 35px;
                position: relative;

                &::before {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    font-family: 'Font Awesome 6 Free';
                    content: '\f061';
                    font-weight: 700;
                    color: #8E0BF4;
                }
            }
        }

    }
}



@media screen and (min-width:768px) and (max-width:992px) {


    .insdustries-verticle-tabs-area .tabs-area .tab-btn-area .nav-link {
        text-align: left;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 20px;
        padding-left: 10px;
    }

    .insdustries-verticle-tabs-area .tabs-area .tab-btn-area {
        padding: 0px 20px;
    }

    .insdustries-verticle-tabs-area .verticle-tab-content {
        padding: 0px 0px;
    }

    .insdustries-verticle-tabs-area .verticle-tab-content p {
        font-size: 14px;
    }

    .insdustries-verticle-tabs-area .tab-content {
        padding: 10px 30px;
    }

}

@media screen and (max-width:767px) {
    .insdustries-verticle-tabs-area #v-pills-tab {
        padding-top: 0px;
    }

    .insdustries-verticle-tabs-area {
        margin-top: 0px;
    }

    .insdustries-verticle-tabs-area .tabs-area .tab-btn-area .nav-link {
        font-size: 18px;
        line-height: 19px;
        margin-bottom: 19px;
    }

    .insdustries-verticle-tabs-area .tabs-area::before {
        width: 100%;
    }

    .insdustries-verticle-tabs-area .tabs-area .tab-btn-area .nav-link {
        padding-left: 15px;
    }

    .insdustries-verticle-tabs-area .tabs-area .tab-btn-area {
        padding: 30px 0px 0px 20px;
        // padding-left: 20px;
    }

    .insdustries-verticle-tabs-area .tabs-area #v-pills-tabContent {
        background: #fff;
        position: relative;
        padding-top: 0px;
        border-bottom-left-radius: 14px;
        border-bottom-right-radius: 15px;
        padding-right: 10px;
    }

    .insdustries-verticle-tabs-area .tabs-area::before {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 16px;
    }

    .insdustries-verticle-tabs-area .verticle-tab-content {
        padding-left: 15px;
        padding-right: 10px;
        max-height: 300px;
        overflow-y: auto;
        padding-bottom: 20px;
    }

    .insdustries-verticle-tabs-area .tabs-area {
        padding-bottom: 0px;

    }

    .insdustries-verticle-tabs-area .verticle-tab-content {
        padding-top: 0px;
    }

}