.home-bannar-area {
    padding-top: 80px;

    .bannar-area-title {
        h1 {
            text-transform: capitalize;
            font-size: 66px;
            line-height: 86px;
        }

        position: relative;

        .arrow-shape {
            position: absolute;
            top: 166px;
            left: 0px;
        }
    }

    .bannar-area-right {
        position: relative;

        .arrow {
            position: absolute;
            top: -32px;
            left: 27px;
        }

        .star {
            position: absolute;
            top: -107px;
            left: 182px;
        }

        .small-star {
            position: absolute;
            top: -150px;
            left: -90px;
        }

    }

    .bannar-bottom-area {


        .hero-content {
            // border-left: 5px solid #8E0BF4;
            position: relative;

            &::before {
                position: absolute;
                content: "";
                height: 90%;
                width: 12px;
                background: #000E28;
                left: -28px;
                top: 7%;
            }

            padding-left: 10px;

            p {
                font-size: 18px;
                line-height: 32px;
            }
        }

        .right-img {
            position: relative;

            .circle-img {
                position: absolute;
                top: 17px;
                right: -53px;
            }

            .down-icon {
                position: absolute;
                right: -6px;
                top: -11px;
                z-index: 9888;
            }
        }
    }

    .hero-world-image {
        position: relative;

        .light-circle-img {
            position: absolute;
            left: 85%;
            top: 200px;
        }
    }
}

@media screen and (max-width:575px) {
    .home-bannar-area {
        padding-top: 42px;
    }

    .home-bannar-area .bannar-area-title h1 {
        font-size: 34px;
        line-height: 47px;
    }

    .home-bannar-area .bannar-area-title .arrow-shape {

        display: none;
    }

    .home-bannar-area .bannar-area-right .arrow {
        display: none;
    }

    .home-bannar-area .bannar-area-right .arrow img {
        width: 80px;
    }

    .home-bannar-area .bannar-area-right .star {
        top: -19px;
        left: 372px;
        display: none;
    }

    .home-bannar-area .bannar-area-right .arrow {

        top: -2px;
        left: 157px;
    }

    .home-bannar-area .bannar-area-right .star {

        top: 16px;
        left: 246px;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .home-bannar-area {
        padding-top: 52px;
    }

    .home-bannar-area .bannar-area-title h1 {
        font-size: 46px;
        line-height: 56px;
    }

    .home-bannar-area .bannar-area-right .arrow {
        display: none;
    }

    .home-bannar-area .bannar-area-right .star {

        display: none;
    }

    .home-bannar-area .bannar-area-title .arrow-shape {
        top: 99px;
        left: 0px;
    }

    .home-bannar-area .bannar-bottom-area .hero-content::before {
        left: -28px;
        top: 3%;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .home-bannar-area {
        padding-top: 52px;
    }

    .home-bannar-area .bannar-area-title h1 {
        font-size: 46px;
        line-height: 66px;
    }

    .home-bannar-area .bannar-area-right .arrow {
        img {
            width: 120px;
        }
    }

    .home-bannar-area .bannar-area-right .star {
        top: 16px;
        left: 80%;
    }

    .home-bannar-area .bannar-area-title .arrow-shape {
        top: 120px;
        left: 0px;
    }

    .home-bannar-area .bannar-area-right .arrow {
        top: 27px;
        left: 27px;
    }

    .home-bannar-area .bannar-area-right .star {
        top: 32px;
        left: 78%;
    }

    .home-bannar-area .bannar-area-right .small-star {
        top: -57px;
        left: 1px;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .home-bannar-area {
        padding-top: 52px;
    }

    .home-bannar-area .bannar-area-title h1 {
        font-size: 46px;
        line-height: 60px;
    }

    .home-bannar-area .bannar-area-right .star {
        top: -111px;
        left: 28%;
    }

    .home-bannar-area .bannar-area-right .star {
        top: -115px;
        left: 31%;
    }

    .home-bannar-area .bannar-area-title .arrow-shape {
        top: 108px;
        left: 0px;
    }

    .home-bannar-area .bannar-area-right .small-star {
        top: -120px;
        left: -90px;
    }

    .home-bannar-area .bannar-area-right .arrow {
        img {
            width: 170px;
        }
    }
}