.core-value{
    .core-value-top{
        .core-value-title{
            h2{
                font-size: 65px;
                line-height: 78px;
                font-weight: 500;
                color: #000E28;
            }
        }
        .core-value-subtitle{
            p{
                font-weight: 400;
                font-size: 24px;
                line-height: 36px;
                color: #888888;
            }
        }
    }
}