.bg-core-value{
    background: #faf7f0;
}
.core-value{
    .core-value-top{
        .core-value-title{
            h2{
                font-size: 65px;
                line-height: 78px;
                font-weight: 500;
                color: #000E28;
            }
        }
        .core-value-subtitle{
            p{
                font-weight: 400;
                font-size: 24px;
                line-height: 36px;
                color: #888888;
            }
        }
    }
}
.core-text-content{
    .core-text-content-title{
        h4{
            font-weight: 500;
            font-size: 52px;
            line-height: 72px;
            color: #000000;
            text-transform: capitalize;
        }
    }
    .core-text-content-desc{
        p{
            font-weight: 400;
            font-size: 18px;
            line-height: 36px;
            color: #888888;
        }
    }
}

.bordered-card{
    border: 2px solid $black;
    padding: 32px 25px ;
    .bordered-card-top{
        h5{
            font-weight: 500;
            font-size: 28px;
            line-height: 33px;
            color: #000000;
            text-transform: capitalize;
        }
    }
    .bordered-card-body{
        p{
            font-size: 18px;
            font-weight: 400;
            line-height: 32px;
            color: #888888;
        }
    }
    .author{
        a{
            text-decoration: none;
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            text-transform: capitalize;
            color: #000E28;
            display: block;
            position: relative;
            &::before{
                position: absolute;
                content: "";
                top: 17px;
                height: 6px;
                width:110px;
                background:#00ccff81;
                z-index: -1
                ;
            }
        }
    }
}

.top-border-card{
    .col-6{
        &:nth-child(2){
            .bordered-card{
                border-left:none;
            }
        }
    }
}