.prefered-choice {
    background-size: cover !important ;
    background-position: center !important;
    background-repeat: no-repeat !important;

    .prefered-choice-title {
        padding: 0px 300px;
    }

    h2 {
        font-size: 65px;
        line-height: 78px;
        color: #000E28;
    }

    .prefered-card-wrapper {
        .single-card {
            background: #ffffff;
            border: 3px solid #000E28;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            border-top-left-radius: 320px;
            border-bottom-left-radius: 320px;
            margin-bottom: 50px;

            .left-card {
                .icon {
                    margin-left: -20px;
                }

                border-right: 3px solid #000000;
            }

            .icon-title {
                margin-left: 31px;

                h5 {
                    font-weight: 500;
                    font-size: 40px;
                    line-height: 48px;
                    color: #000000;
                    text-transform: capitalize;
                }
            }

            .right-card {


                .right-card-desc {
                    p {
                        font-size: 16px;
                        line-height: 32px;
                        font-weight: 400;
                        color: #888888;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:575px) {
    .prefered-choice .prefered-choice-title {
        padding: 0px 0px;
    }

    .prefered-choice h2 {
        font-size: 23px;
        line-height: 33px;
    }

    .prefered-choice .prefered-card-wrapper .single-card {
        border: none;

    }



    .prefered-choice .prefered-card-wrapper .single-card .icon-title {
        margin-left: 0px;
        text-align: center;
        margin-top: 30px;
    }

    .prefered-choice .prefered-card-wrapper .single-card .left-card {
        border-right: none;
    }

    .prefered-choice .prefered-card-wrapper .single-card {
        margin-bottom: 0px;
    }

    .prefered-choice .prefered-card-wrapper .single-card .left-card .icon {
        position: unset;
        display: flex;
        justify-content: center;
    }

    .prefered-choice .prefered-card-wrapper .single-card .right-card {
        border-left: none;
        padding: 0px 0px;
        padding-top: 10px;
    }

    .prefered-choice .prefered-card-wrapper .single-card .left-card .icon img {
        height: 200px;
        width: 200px;
    }



    .prefered-choice .prefered-card-wrapper .single-card {
        padding-top: -3px;
        padding-bottom: 40px;
        text-align: center;
    }
}

@media screen and (min-width:575px) and (max-width:767px) {
    .prefered-choice .prefered-choice-title {
        padding: 0px 0px;
    }

    .prefered-choice h2 {
        font-size: 32px;
        line-height: 42px;
    }

    .prefered-choice .prefered-card-wrapper .single-card {
        padding-top: 40px;
    }

    .prefered-choice .prefered-card-wrapper .single-card .icon-title {
        margin-left: 0px;
        text-align: center;
        margin-top: 10px;
    }

    .prefered-choice .prefered-card-wrapper .single-card .left-card .icon {
        position: unset;
        display: flex;
        justify-content: center;
    }

    .prefered-choice .prefered-card-wrapper .single-card .right-card {
        border-left: none;
        padding: 0px 0px;
    }

    .prefered-choice .prefered-card-wrapper .single-card .left-card .icon img {
        height: 80px;
        width: 80px;
    }

    .right-card-desc.pl-50 {
        padding-left: 10px;
    }

    .prefered-choice .prefered-card-wrapper .single-card {
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: center;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .prefered-choice .prefered-choice-title {
        padding: 0px 0px;
    }

    .prefered-choice {
        .single-card {
            .icon {
                img {
                    width: 120px;
                }
            }
        }
    }

    .prefered-choice .prefered-card-wrapper .single-card .icon-title h5 {
        font-size: 22px;
        line-height: 33px;
    }

    .prefered-choice .prefered-card-wrapper .single-card .icon-title {
        margin-left: 8px;
    }
}






@media screen and (min-width:992px) and (max-width:1200px) {
    .prefered-choice .prefered-choice-title {
        padding: 0px 0px;
    }

    .prefered-choice h2 {
        font-size: 36px;
        line-height: 46px;
    }

    .prefered-choice .prefered-card-wrapper .single-card .icon-title h5 {
        font-size: 28px;
        line-height: 38px;
    }

}




// prefered choice for mobile and tablet device
.prefered-choice-small {
    h3 {
        font-size: 24px;
        line-height: 28px;
    }

    .prefered-choice-title {
        margin-bottom: 50px;

        h2 {
            font-size: 32px;
            font-weight: 400;
            line-height: 42px;
        }
    }
}

.prefered-choice-slider {
    .slide-wrapper {

        .slide {
            width: 170px;
            margin-right: 25px;

            .icon-area {
                display: flex;
                justify-content: center;
                position: relative;

                .img-area {
                    position: absolute;
                    top: 0%;
                }
            }

            .slider-text-content {
                border-bottom-left-radius: 30px;
                border-bottom-right-radius: 30px;
                border-top-left-radius: 25px;
                border-top-right-radius: 25px;
                border: 3px solid #000E28;
                border-top: none;
                padding-top: 140px;
                margin-top: 55px;
                text-align: center;

                h3 {
                    text-align: center;
                    text-transform: capitalize;
                    margin-bottom: 20px;
                    border-bottom: 3px solid #000E28;
                    padding-bottom: 30px;

                }

                p {
                    padding: 0px 20px;
                }

            }
        }
    }
}