.prefered-choice{
    .prefered-choice-title{
        padding: 0px 300px;
    }
    h2{
        font-size: 65px;
        line-height: 1;
        color: #000E28;
    }
    .prefered-card-wrapper{
        .single-card{
            background:#ffffff;
            border: 3px solid #000E28;
            border-radius: 20px;
            .left-card{
                position: relative;
                .icon{
                    position: absolute;
                    top: -50px;
                    left: -90px;
                }
            }
            .icon-title{
                margin-left: 100px;
                h5{
                    font-weight: 500;
                    font-size: 40px;
                    line-height: 48px;
                    color: #000000;
                    text-transform: capitalize;
                }
            }
            .right-card{
                border-left: 3px solid #000000;
                padding: 25px 0px;
                .right-card-desc{
                    p{
                        font-size: 18px;
                        line-height: 32px;
                        font-weight: 400;
                        color: #888888;
                    }
                }
            }
        }
    }
}