.our-process {
    .our-process-title {
        h2 {
            font-weight: 500;
            font-size: 65px;
            line-height: 78px;
            color: #000E28;
        }
    }

    .our-process-subtitle {
        p {
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            color: #6D6D6D;
        }
    }

    .our-process-right {
        position: relative;

        .star-img {
            position: absolute;
            right: 0px;
        }
    }
}

@media screen and (max-width:575px) {
    .our-process .our-process-title h2 {
        font-size: 35px;
        line-height: 40px;
    }

    .our-process-right {
        img {
            width: 147px;
        }
    }
}

@media screen and (min-width:576px) and (max-width:768px) {
    .our-process .our-process-title h2 {
        font-size: 35px;
        line-height: 40px;
    }

    .our-process-right {
        img {
            width: 200px;
        }
    }



}


// need project

.bg-need-project {
    background: #00CCFF;
}

.need-project {
    .need-project-title {
        h3 {
            font-size: 48px;
            line-height: 64px;
            color: #000E28;
            font-weight: 500;
        }
    }

    .need-project-desc {
        p {
            color: #555555;
            font-size: 18px;
            line-height: 32px;
        }
    }
}

@media screen and (max-width:575px) {
    .need-project .need-project-title h3 {
        font-size: 28px;
        line-height: 38px;
    }

    .need-project .need-project-desc p {
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (min-width:576px) and (max-width:768px) {
    .need-project .need-project-title h3 {
        font-size: 40px;
        line-height: 54px;
    }
}