.our-process {
    .our-process-title {
        h2 {
            font-weight: 500;
            font-size: 65px;
            line-height: 78px;
            color: #000E28;
        }
    }

    .our-process-subtitle {
        p {
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            color: #6D6D6D;
        }
    }

    .our-process-right {
        position: relative;

        .star-img {
            position: absolute;
            right: 0px;
        }
    }
}

.full-width-animation {
    padding-top: 40px;
}

.need-project {
    p {
        color: rgba(85, 85, 85, 1);
    }
}

@media screen and (max-width:575px) {
    .our-process .our-process-title h2 {
        font-size: 35px;
        line-height: 40px;
    }

    .our-process-right {
        img {
            width: 147px;
        }
    }
}

@media screen and (min-width:576px) and (max-width:768px) {
    .our-process .our-process-title h2 {
        font-size: 35px;
        line-height: 40px;
    }

    .our-process-right {
        img {
            width: 200px;
        }
    }



}


// need project

.bg-need-project {
    background: #00CCFF;
}
#need-project-slider-container .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    display: none;
}
