.our-process {
    .our-process-title {
        h2 {
            font-weight: 500;
            font-size: 65px;
            line-height: 78px;
            color: #000E28;
        }
    }

    .our-process-subtitle {
        p {
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            color: #6D6D6D;
        }
    }

    .our-process-right {
        position: relative;

        .star-img {
            position: absolute;
            right: 0px;
        }
    }
}

@media screen and (max-width:575px) {
    .our-process .our-process-title h2 {
        font-size: 35px;
        line-height: 40px;
    }

    .our-process-right {
        img {
            width: 147px;
        }
    }
}

@media screen and (min-width:576px) and (max-width:768px) {
    .our-process .our-process-title h2 {
        font-size: 35px;
        line-height: 40px;
    }

    .our-process-right {
        img {
            width: 200px;
        }
    }



}


// need project

.bg-need-project {
    background: #00CCFF;
}


.section {
    font-size: 5rem;
 
}

.section--large {
    width: 100vw;
    background-color: #8d3dae;
    color: white;
}

.section--small {
    width: 46rem;
}

.section--dark {
    color: white;
    background-color: black;
}