.success-stories {
    background: #F8F4FB;

    .testimonial-card-area {
        .testimonial-slider {

            .single-slide {
                background: #ffff;
                padding: 20px 30px;
                margin: 0px 20px;
                border: 1px solid #000000;
                border-radius: 20px;
                width: 520px;

                .slide-brands-area {
                    display: flex;

                    .brands {
                        img {
                            width: 218px;
                        }
                    }
                }

                .quote {
                    margin-left: 155px;
                }

                .slide-text-area {
                    padding-top: 40px;
                }

                &:nth-child(even) {
                    .slide-text-area {
                        padding-bottom: 40px;
                    }
                }
            }
        }
    }
}

.single-slide.slick-slide.slick-current.slick-active {
    box-shadow: 7px 7px 0px -1px #000000;

    svg {
        color: #8E0BF4;
    }

    &:nth-child(even) {
      
     border-bottom: 6px solid #000000;
        
    }

}

@media screen and (max-width:575px) {
    .success-stories .section-top .section-title h2 {
        font-size: 28px;
        line-height: 52px;
    }

    .success-stories .section-top .section-subtitle {
        padding: 0px 40px;
    }

    .success-stories .testimonial-card-area .testimonial-slider .single-slide {
        width: calc(100vw - 20px);
    }

    .success-stories .testimonial-card-area .testimonial-slider .single-slide .slide-brands-area .brands img {
        width: 150px;
    }
}