.success-stories {
    background: #F8F4FB;

    .testimonial-card-area {
        .testimonial-slider {

            .single-slide {
                background: #ffff;
                padding: 20px 30px;
                margin: 0px 20px;
                border: 1px solid #000000;
                border-radius: 20px;
                width: 520px;

                .slide-brands-area {
                    display: flex;

                    .brands {
                        img {
                            width: 218px;
                        }
                    }
                }

                .quote {
                    margin-left: 155px;

                    .active-quote {
                        display: none;
                    }
                }

                .slide-text-area {
                    padding-top: 40px;
                }


            }
        }
    }
}

// .success-stories .single-slide.slick-slide:hover

.success-stories .single-slide.slick-slide.slick-current.slick-active
 {

    .quote {
        .active-quote {
            display: block;
        }

        .inactive-quote {
            display: none;
        }
    }

    position: relative;

    &::before {
        position: absolute;
        top: 10px;
        right: -4px;
        height: 98%;
        width: 7px;
        content: "";
        background: #000000;
        border-top-left-radius: 1px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
    }

    &:after {
        position: absolute;
        bottom: -1px;
        left: 5px;
        height: 7px;
        width: 99%;
        content: "";
        background: #000000;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 10px;
     
        border-bottom-left-radius: 1000px;
    }

}

@media screen and (max-width:575px) {
    .success-stories .section-top .section-title h2 {
        font-size: 28px;
        line-height: 52px;
    }

    .success-stories .section-top .section-subtitle {
        padding: 0px 40px;
    }

    .success-stories .testimonial-card-area .testimonial-slider .single-slide {
        width: 300px;
    }

    .success-stories .testimonial-card-area .testimonial-slider .single-slide .slide-brands-area .brands img {
        width: 150px;
    }
}