.world-wide-area {
    background: #F2FCFF;
    border: 4px solid #000000;
    padding-bottom: 330px;

    .section-top {
        padding: 0px 250px;
        position: relative;

        .arrow-shape {
            position: absolute;
            top: 116px;
            left: 266px;
        }
    }


    //  card elements
    .card-wrapper {
        position: relative;

        .card-elements {
            position: relative;

            .circle-elements {
                position: relative;
                transition: all ease-in 0.3s;
                width: 296px;
                height: 296px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: 3px solid #000E28;
                border-radius: 50%;
                &:hover {
                    background: #f9f3fe;
                    .hidden-text-elements {
                        opacity: 1;
                        visibility: visible;
                       // transform: translateY(0px);
                    }
                }



                .hidden-text-elements {
                   
                    opacity: 1;
                    visibility: visible;
                    //transform: translateY(-10px);
                    position: absolute;
                    top: 50%;
                    left: -1%;
                    width: 296px;
                    border: 2px solid #000000;
                    border-top: none;             
                    border-top-left-radius: 2px;
                    border-top-right-radius: 2px;
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                    background: #ffffff;

                    .text-content {
                        background: #ffffff;
                        padding-top: 40px;
                        padding-left: 25px;
                        padding-right: 25px;

                        p {
                            font-size: 16px;
                            line-height: 26px;
                            color: #6d6d6d;
                        }
                    }
                }

            }
        }
    }

}

@media screen and (max-width:575px) {
    .world-wide-area .section-top {
        padding: 0px 0px;
    }

    .section-top .section-title h2 {
        font-size: 24px;
        line-height: 34px;

    }

    .section-top .section-subtitle p {
        font-size: 16px;
        line-height: 26px;

    }

    .world-wide-area .card-wrapper .card-elements {
        width: 170px;
        height: 170px;
    }

    .world-wide-area .card-wrapper .card-elements .circle-elements .icon-area img {
        width: 50px;
        height: auto;
    }

    .world-wide-area .card-wrapper .card-elements .elements-title {
        margin-top: 5px;
    }

    .world-wide-area .card-wrapper .card-elements .elements-title h4 {
        font-size: 30px;
        line-height: 30px;
        margin-top: 10px;
    }

    .world-wide-area .card-wrapper .card-elements .elements-desc {
        padding: 0px 12px;
    }

    .world-wide-area .card-wrapper .card-elements .elements-desc p {
        font-size: 16px;
        line-height: 1;
        color: #6d6d6d;
        margin-top: 10px;
    }

    .world-wide-area .section-top .arrow-shape {
        top: 50px;
        left: -21px;

        img {
            width: 100px;

            transform: rotate(-41deg);
        }
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .world-wide-area .section-top {
        padding: 0px 0px;
    }

    .section-top .section-title h2 {
        font-size: 36px;
        line-height: 46px;
    }

    .world-wide-area .section-top .arrow-shape {
        top: 70px;
        left: -30px;

        img {

            transform: rotate(-50deg);
        }
    }

    .world-wide-area .card-wrapper .card-elements {
        width: 190px;
        height: 190px;
    }

    .world-wide-area .card-wrapper .card-elements .circle-elements .icon-area img {
        width: 60px;
        height: auto;
    }

    .world-wide-area .card-wrapper .card-elements .elements-title h4 {
        font-size: 30px;
        line-height: 30px;
        margin-top: 10px;
    }

    .world-wide-area .card-wrapper .card-elements .elements-desc {
        padding: 0px 12px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .world-wide-area .section-top {
        padding: 0px 0px;
    }

    .section-top .section-title h2 {
        font-size: 46px;
        line-height: 66px;
    }

    .world-wide-area .section-top .arrow-shape {
        top: 70px;
        left: -30px;

        img {

            transform: rotate(-50deg);
        }
    }

    .world-wide-area .card-wrapper .card-elements {
        width: 250px;
        height: 250px;
    }

    .world-wide-area .card-wrapper .card-elements .circle-elements .icon-area img {
        width: 70px;
        height: auto;
    }

    .world-wide-area .card-wrapper .card-elements .elements-title h4 {
        font-size: 40px;
        line-height: 40px;
        margin-top: 20px;
    }

    .world-wide-area .card-wrapper .card-elements .elements-desc {
        margin-top: 12px;
    }

    .world-wide-area .card-wrapper .card-elements .elements-desc {
        padding: 0px 12px;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .world-wide-area .section-top {
        padding: 0px 200px;
    }

    .section-top .section-title h2 {
        font-size: 34px;
        line-height: 59px;
    }



    .world-wide-area .section-top .arrow-shape {
        top: 56px;
        left: 100px;


    }

    .world-wide-area .card-wrapper .card-elements {
        width: 250px;
        height: 250px;
    }

    .world-wide-area .card-wrapper .card-elements .circle-elements .icon-area img {
        width: 70px;
        height: auto;
    }

    .world-wide-area .card-wrapper .card-elements .elements-title h4 {
        font-size: 40px;
        line-height: 40px;
        margin-top: 20px;
    }

    .world-wide-area .card-wrapper .card-elements .elements-desc {
        margin-top: 12px;
    }

    .world-wide-area .card-wrapper .card-elements .elements-desc {
        padding: 0px 12px;
    }
}