// for small devices
.world-wide-area-small {

    .circle-outer {

        &:hover,
        &.active {
            background: #ffffff;

        }

        width: 146px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        margin-bottom: 30px;

        &:hover,
        &.active {
            .circle-textcontent {
                height: fit-content;
                opacity: 1;
                visibility: visible;
            }
        }

        .circle-inner {
            height: 146px;
            width: 146px;
            border: 3px solid #8E0BF4;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #f9f3fe;
            box-shadow: 4px 0px 0px 0px #000000,
                0px 4px 0px 0px #000000;

            .circle-content {
                text-align: center;

                .circle-icon {
                    img {
                        width: 35px;
                        height: auto;
                    }
                }

                .circle-title {
                    h4 {
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 36px;
                        color: #8E0BF4;
                    }
                }

                .circle-desc {
                    p {
                        font-size: 12px;
                        line-height: 18px;
                        color: #6D6D6D;
                    }
                }
            }
        }

        .circle-textcontent {
            height: 0px;
            opacity: 0;
            visibility: hidden;
            width: 146px;
            border: 2px solid #000000;
            text-align: center;
            padding: 0px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            padding-top: 85px;
            margin-top: -75px;
            border-top: none;
            box-shadow: 4px 0px 0px 0px #000000,
                0px 4px 0px 0px #000000;

            .content-card {
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                background: #ffffff;
                padding: 12px 15px;

                p {
                    font-size: 14px;
                    line-height: 22px;
                    color: #6D6D6D;
                }
            }
        }
    }

}

@media screen and (min-width:575px) and (max-width:768px) {

    .world-wide-area-small .circle-outer {
        width: 200px;


    }

    .world-wide-area-small .circle-outer .circle-inner {

        width: 200px;
        height: 200px;

    }


    .world-wide-area-small .circle-outer .circle-textcontent {
        width: 199px;
        padding-top: 90px;
        margin-top: -86px;

    }
}

@media screen and (min-width:768px) and (max-width:991px) {


    .world-wide-area-small .circle-outer {
        width: 240px;
    }

    .world-wide-area-small .circle-outer .circle-inner {
        height: 240px;
        width: 240px;
    }

    .world-wide-area-small .circle-outer .circle-inner .circle-content .circle-icon img {
        width: 60px;
    }

    .world-wide-area-small .circle-outer .circle-inner .circle-content .circle-title h4 {
        font-size: 48px;
        line-height: 69px;
    }

    .world-wide-area-small .circle-outer .circle-inner .circle-content .circle-desc p {
        font-size: 14px;
        line-height: 18px;
    }

    .world-wide-area-small .circle-outer .circle-textcontent {
        width: 240px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }


    .world-wide-area-small .circle-outer.active .circle-textcontent p {
        font-size: 16px;
        line-height: 26px;
    }

    .world-wide-area-small .circle-outer .circle-textcontent {
        padding-top: 127px;
        margin-top: -120px;
    }
}

@media screen and (min-width:991px) and (max-width:1199px) {
    .world-wide-area-small .circle-outer {
        width: 230px;
    }

    .world-wide-area-small .circle-outer .circle-inner {
        height: 230px;
        width: 230px;
    }

    .world-wide-area-small .circle-outer .circle-inner .circle-content .circle-icon img {
        width: 60px;
    }

    .world-wide-area-small .circle-outer .circle-inner .circle-content .circle-title h4 {
        font-size: 48px;
        line-height: 69px;
    }

    .world-wide-area-small .circle-outer .circle-inner .circle-content .circle-desc p {
        font-size: 14px;
        line-height: 18px;
    }

    .world-wide-area-small .circle-outer .circle-textcontent {
        width: 230px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }


    .world-wide-area-small .circle-outer.active .circle-textcontent p {
        font-size: 16px;
        line-height: 26px;
    }

    .world-wide-area-small .circle-outer .circle-textcontent {
        padding-top: 127px;
        margin-top: -120px;
    }
}

@media screen and (min-width:1200px) {
    .world-wide-area-small .circle-outer {
        width: 230px;
    }

    .world-wide-area-small .circle-outer .circle-inner {
        height: 230px;
        width: 230px;
    }

    .world-wide-area-small .circle-outer .circle-inner .circle-content .circle-icon img {
        width: 60px;
    }

    .world-wide-area-small .circle-outer .circle-inner .circle-content .circle-title h4 {
        font-size: 48px;
        line-height: 69px;
    }

    .world-wide-area-small .circle-outer .circle-inner .circle-content .circle-desc p {
        font-size: 14px;
        line-height: 18px;
    }

    .world-wide-area-small .circle-outer .circle-textcontent {
        width: 230px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }


    .world-wide-area-small .circle-outer.active .circle-textcontent p {
        font-size: 16px;
        line-height: 26px;
    }

    .world-wide-area-small .circle-outer .circle-textcontent {
        padding-top: 127px;
        margin-top: -120px;
    }
}