.world-wide-area {
    background: #F2FCFF;
    border: 4px solid #000000;
    padding-bottom: 330px;

    .section-top {
        padding: 0px 250px;
        position: relative;

        .arrow-shape {
            position: absolute;
            top: 116px;
            left: 266px;
        }
    }


    //  card elements
    .card-wrapper {
        position: relative;

        .card-elements {
            position: relative;

            .circle-elements {
                position: absolute;
                z-index: 9999;

            }
        }

        .hidden-text-content {
            position: absolute;
            z-index: 1;
            top: 40%;

            .content-area {
                padding-top: 170px;
                background: #fff;
                padding-left: 15px;
                padding-right: 15px;
                width: 296px;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                border: 2px solid #000000;

                text-align: center;
            }
        }

        .card-elements {
            width: 296px;
            height: 296px;
            border: 3px solid #000E28;
            text-align: center;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9888;

            .circle-elements {
                position: absolute;
                z-index: 5;
            }

            .elements-title {
                margin-top: 10px;

                h4 {
                    font-size: 44px;
                    line-height: 66px;
                    font-weight: 600;
                    color: #000E28;
                }
            }

            .elements-desc {
                p {
                    font-size: 18px;
                    line-height: 27px;
                    color: #6d6d6d;
                }
            }


        }
    }

}

@media screen and (max-width:575px) {
    .world-wide-area .section-top {
        padding: 0px 0px;
    }

    .section-top .section-title h2 {
        font-size: 24px;
        line-height: 34px;

    }

    .section-top .section-subtitle p {
        font-size: 16px;
        line-height: 26px;

    }

    .world-wide-area .card-wrapper .card-elements {
        width: 170px;
        height: 170px;
    }

    .world-wide-area .card-wrapper .card-elements .circle-elements .icon-area img {
        width: 50px;
        height: auto;
    }

    .world-wide-area .card-wrapper .card-elements .elements-title {
        margin-top: 5px;
    }

    .world-wide-area .card-wrapper .card-elements .elements-title h4 {
        font-size: 30px;
        line-height: 30px;
        margin-top: 10px;
    }

    .world-wide-area .card-wrapper .card-elements .elements-desc {
        padding: 0px 12px;
    }

    .world-wide-area .card-wrapper .card-elements .elements-desc p {
        font-size: 16px;
        line-height: 1;
        color: #6d6d6d;
        margin-top: 10px;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .world-wide-area .section-top {
        padding: 0px 0px;
    }

    .section-top .section-title h2 {
        font-size: 36px;
        line-height: 46px;
    }

    .world-wide-area .section-top .arrow-shape {
        top: 70px;
        left: -30px;

        img {

            transform: rotate(-50deg);
        }
    }

    .world-wide-area .card-wrapper .card-elements {
        width: 190px;
        height: 190px;
    }

    .world-wide-area .card-wrapper .card-elements .circle-elements .icon-area img {
        width: 60px;
        height: auto;
    }

    .world-wide-area .card-wrapper .card-elements .elements-title h4 {
        font-size: 30px;
        line-height: 30px;
        margin-top: 10px;
    }

    .world-wide-area .card-wrapper .card-elements .elements-desc {
        padding: 0px 12px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .world-wide-area .section-top {
        padding: 0px 0px;
    }

   .section-top .section-title h2 {
       font-size: 46px;
       line-height: 66px;
   }
    .world-wide-area .section-top .arrow-shape {
        top: 70px;
        left: -30px;

        img {

            transform: rotate(-50deg);
        }
    }

    .world-wide-area .card-wrapper .card-elements {
        width: 200px;
        height: 200px;
    }

    .world-wide-area .card-wrapper .card-elements .circle-elements .icon-area img {
        width: 60px;
        height: auto;
    }

    .world-wide-area .card-wrapper .card-elements .elements-title h4 {
        font-size: 30px;
        line-height: 30px;
        margin-top: 10px;
    }

    .world-wide-area .card-wrapper .card-elements .elements-desc {
        padding: 0px 12px;
    }
}