.services-nav {
    nav {
        ul {
            display: flex;
            align-items: center;

            li {
                &.active {
                    a {
                        background: #FDFCF8;
                        box-shadow: 4px 0px 2px -1px #000000;
                        color: #8E0BF4;
                    }
                }

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 1;
                    color: #0000008f;
                    text-transform: capitalize;
                    width: 416px;
                    padding: 17px 40px;
                    background: #ceedf7;
                    border-radius: 10px;
                    margin: 0px 20px;
                    min-height: 126px;
                    border: 2px solid #000E28;

                    &:hover {
                        color: #8E0BF4;
                        background: #FDFCF8;
                    }

                }
            }
        }
    }
}

@media screen and (max-width:575px) {
    .services-nav nav ul li a {
        font-size: 19px;
        width: fit-content;
        padding: 20px 17px;
        margin: 0px 20px;
        min-height: fit-content;
    }
}

@media screen and (min-width:576px) and (max-width:768px) {
    .services-nav nav ul li a {
        font-size: 19px;
        width: fit-content;
        padding: 20px 25px;
        margin: 0px 20px;
        min-height: fit-content;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    .services-nav nav ul li a {
        font-size: 19px;
        width: fit-content;
        padding: 20px 25px;
        margin: 0px 20px;
        min-height: fit-content;
    }
}